.navber {
    height: max-content;
    width: 100%;

}

.container-navbar {
    background-color: #fff;
    height: 6rem;
    max-height: 5rem;
    margin: 0 12%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & button {
        height: 44px;
        width: 150px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.944);
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }

    & button:hover {
        color: #fff;
        background-color: rgb(0, 0, 0);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        transition: ease-in-out .3s;
        -webkit-transition: ease-in-out .3s;
        -moz-transition: ease-in-out .3s;
        -ms-transition: ease-in-out .3s;
        -o-transition: ease-in-out .3s;
    }

}

.boxlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    text-decoration: none;

    & img {
        height: 30px;
        width: 30px;
        margin-right: 20px;

    }


    & h3 {
        color: black;
    }

}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;

    & a {
        color: black;
        text-decoration: none;
        margin: 0 30px;
    }

}