.profileDev-page {
    height: max-content;
    width: 100%;

}

.title-profile {
    height: max-content;
    width: 40%;

    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;

    & h1 {
        font-size: 3em;
        text-align: center;
    }

    & p {
        width: 100%;

        text-align: center;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

}

.section-listcards {
    height: max-content;
    min-height: 90vh;
    width: 100%;
    margin-top: 5%;
}

.container-listCards {
    height: max-content;
    width: 70%;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;

}

.Cards {
    height: max-content;
    min-height: 370px;
    max-height: 370px;
    width: 100%;
    padding: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;

    cursor: pointer;
    position: relative;

}

.Cards:hover {
    scale: 101%;
    transition: ease-in-out .3s;
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;


    & .boxIcon {

        & svg {
            scale: 105%;
            transition: ease-in-out .2s;
            color: red;
        }
    }
}

.boxIcon {
    height: 44px;
    width: 44px;
    background-color: rgba(243, 243, 243, 0.718);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

    & svg {
        font-size: 24px;
    }
}


.titleCards {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    margin-top: 10%;
    width: 90%;
}

.contentCards {
    font-size: 14px;
    margin-top: 10%;
    width: 90%;

}

.link-seemore {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    position: absolute;
    bottom: 30px;


    & p {
        color: black;
        margin-right: 5px;
        font-size: 14px;
    }

    & svg {
        font-size: 10px;
        color: rgb(0, 0, 0);
    }

}

.link-seemore:hover {

    & svg, p {
        transition: all .3s;
        color: red;
    }
}